:root{
  --primary: #222323;
	--secondary: #ED2B32;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	// font-family: 'Roboto', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	text-transform: uppercase;
	scroll-behavior: smooth;
}

button{
	cursor: pointer;
}

.container{
	width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width: 992px){
    .container{
        width: 90% !important;
    }
}

@media screen and (max-width: 993px) {
	.container{
	padding: 0;
	overflow-x: hidden;
	}
}

@media (max-width: 576px){
	.container{
		width: 100% !important;
	}

	h2{
		font-size: 1.7rem !important;
	}

	h3{
		font-size: 1.3rem !important;
	}
}

p{
	color: #636363;
}

nav{
	background-color: var(--primary);
	// height: 80px;
	position: fixed;
	width: 100%;
	z-index: 1;

	.nav__inner_left img{
		width: 50px;
		height: 50px;
		@media (max-width: 350px){
			height: 30px;
			width: 30px;
		}
	}

	ul{
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				color: var(--secondary);
				text-decoration: none;
			}
		}
		@media (max-width: 350px){
			font-size: 14px;
		}

	}
	
  .nav__inner_right{
		height: 100%;
		flex-grow: 0;
		ul{
			height: 100%;
			list-style: none;
			width: 900px;

			@media screen and (max-width: 1200px){
				width: 700px;
			}

			@media screen and (max-width: 960px){
				// display: none !important;
			}
	
			li{
				font-size: 18px;
				position: relative;
				color: #fff;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-weight: 300;
				cursor: pointer;

				@media screen and (max-width: 1200px){
					font-size: 16px;
				}
				
				&::after{
					transition: all 0.5s;
					content: "";
					width: 100%;
					display: block;
					position: absolute;
					bottom: 0;
					height: 10px;
					background-color: var(--primary);
				}
	
				&:hover{
					&::after{
						background-color: var(--secondary);
					}
				}
			}
		}
	} 
}
.navbar_content_divider{
	height: 75px;
	@media screen and (max-width: 350px){
		height: 50px;
	}
}

.hero{
	height: 90vh;
	max-height: 1000px !important;
	background-image: url("../assets/images/bg2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;	
	padding-top: 130px;

	&::before{
		background-color: rgba($color: #fff, $alpha: 0.5);
		content: "";
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
	}
	@media screen and (max-width: 450px){
		padding-top: 0px;
		align-items: center;
    	display: flex;
	}

	@media screen and (max-width: 350px){
		height: 92vh !important;
	}

	.hero__content{
		position: relative;
		width: 730px;
		margin: 0 auto;
		@media screen and (max-width: 993px){
			width: auto;
			max-width: 280px;
		}
	}

	h1{
		font-size: 38px;
		text-align: center;
		font-weight: 600;
		margin-bottom: 0px !important;
		@media screen and (max-width: 450px){
			font-size: 28px;
			margin-bottom: 35px !important;
		}
	}

	p{
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		color: var(--primary);
		@media screen and (max-width: 450px){
			font-size: 16px;
		}
	}
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
		width: 550px;
		height: 50px;
		margin-top: 100px;
		border: none;
		background-color: var(--secondary);
		color: #fff;
		text-align: center;
		border-radius: 10px;
		@media screen and (max-width: 900px){
			width: 100%;
		}
		@media screen and (max-width: 450px){
			margin-top: 35px;
		}
		transition: all .5s;
		&:hover{
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		}
	}
}

.hero__contacts_info{
	margin-top: 25px;

	p{
		font-size: 16px;
		font-weight: 600;
	}
}
main h2{
	margin: 50px auto;
	color: #636363;
	padding-left: 48px;
	@media screen and (max-width: 768px){
		padding-left: 16px !important;
	}
}

.section_intro{
	// height: 85vh;
	// max-height: 700px;
	p{
		font-size: 14px;
	}
	@media screen and (max-width: 993px){
		height: auto;
		max-height: none;
	}
}

.section_intro__info{
	width: 60%;
	background-color: #F9F9F9;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h3{
		font-weight: 500;
		width: 70%;
		@media screen and (max-width: 993px){
			margin-bottom: 50px;
			width: 100%;
		}

	}


	h4 {
		font-weight: 600;
		font-size: 20px;
	}

	p{
		margin-top: 30px;
		text-transform: lowercase;
		font-size: 20px;
	}

	a{
		text-decoration: none;
		color: var(--primary);
		&:hover{
			color: var(--secondary);
		}
	}


	@media screen and (max-width: 993px){
		width: 100%;
	}
}

.section_intro__form{
	width: 40%;
	height: auto;
	background-color: #000;
	position: relative;
	background-image: url("..//assets/images/towels.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;

	@media screen and (max-width: 993px){
		width: 100%;
	}

	&::before{
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($color: #000000, $alpha: 0.7);
	}

	form{
		height: 100%;
		width: 100%;
		position: relative;

		h3{
			text-align: center;
			color: #fff;
			margin-bottom: 40px;
			@media screen and (max-width: 450px){
				margin-bottom: 35px;
			}
		}

		input{
			width: 100%;
			height: 50px;
			padding: 0 15px;
			margin-bottom: 20px;
			border: none;
			border-radius: 10px;

			&:focus{
				outline: none;
			}
		}

		button, a{
			width: 100%;
			height: 50px;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			background-color: var(--secondary);
			color: #fff !important;
			text-transform: uppercase;
			cursor: pointer;
			transition: all .5s;
			text-decoration: none;
			&:hover{
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
			}
			&:last-child{
				margin-top: 50px;

			}
		}
	}
}

.section__features_choose{
	background-color: #F9F9F9;
	h3{
		padding: 48px;
		@media screen and (max-width: 768px){
			padding: 48px 16px !important;
		}
		span{
			display: block;
		}
	}
	.features_control{
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 993px){
			flex-direction: column;
		}
	}
	.features_control ul{
		width: 30%;
		list-style: none;
		padding-left: 0 !important;

		@media screen and (max-width: 993px){
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		
		li{
			width: 100%;
			height: 100px;
			background-color: var(--primary);
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
			cursor: pointer;
			font-size: 20px;
			font-weight: 500;
			transition: all 0.3s;
			&:hover{
				background-color: var(--secondary);
			}
			@media screen and (max-width: 993px){
				margin: 0 5px;
				width: 32%;
				font-size: 12px;
			}

		}
	}

	.features_control .carousel{
		width: 100% !important;
		height: 80vh;
		margin: 0 auto;
		position: relative;
		@media screen and (max-width: 993px){
			width: 100% !important;
		}
		img{
			// height: 400px !important;
			height: 80vh;
			object-fit: cover;
		}
		a{
			z-index: 1000 !important;
		}
		// .carousel-control-next, .carousel-control-prev{
		// 	@media screen and (max-width: 700px){
		// 		top: -120px !important;
		// 	}
		// }
		p{	
			max-width: 600px;
			top: 50%;
			font-size: 18px;
			transform: translateY(-50%);
			position: absolute;
			color: #fff;
			z-index: 999;
			left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto; 
			@media screen and (max-width: 700px){
				font-size: 14px !important;
				max-width: 300px;
			}
		}
	}
}

.carousel-item::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-color: rgba(0,0,0,0.7);
}

.section__features_item{
	height: auto;
	width: 31%;
	position: relative;
	background-color: #F9F9F9;
	
	@media screen and (max-width: 993px){
		width: 100%;
		margin-bottom: 35px;
	}

	img{
		width: 100%;
		height: 400px;
		object-fit: cover;
		filter: brightness(30%);
	}

	h3{
		position: absolute;
		top: 200px;
		margin-top: -30px;
		font-weight: 700;
		color: #fff;
		text-align: center;
		right: 0;
		left: 0;
	}
}

.section__partners_item{
	height: 320px;
	margin-bottom: 35px;
	position: relative;

	h3{
		position: absolute;
		top: 160px;
		margin-top: -30px;
		color: #fff;
		right: 0;
		left: 0;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 280px;
	}

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(30%);
	}
}

.section__service_price{
	background-color: #F3F3F3;
}

.section__service_price h5{
	font-weight: bold;
	padding: 0 10px;
}

.section__service_price ul{
	list-style: none;


	li{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 350px;
		padding: 0 10px;
		background-color: var(--primary);
		color: #fff;
		margin-bottom: 20px;
		border-radius: 10px;
		cursor: pointer;
		transition: all .3s;
		&:hover{
			background-color: var(--secondary);
		}
		@media screen and (max-width: 550px){
			font-size: 12px;
			width: 95%;
			text-align: center;
		}
	}
}

.section__service_price_input{
	height: 100px;
	align-self: center;
	background-color: var(--secondary);
}

.section__service_price_input{
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section__service_price_input input{
	width: 100px;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;

	&:focus{
		outline: none;
	}
}

.section__service_price form{

	input{
		height: 50px;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid gray;
		padding: 0 15px;

		&:focus{
			outline: none;
		}
	}

	button{
		margin-top: 50px;
		height: 50px;
		border-radius: 10px;
		border: none;
		background-color: var(--secondary);
		color: #fff;
		transition: all .5s;
		&:hover{
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		}
	}
}

footer{
	background-color: #fff;

	img{
		width: 50px;
		height: 50px;
	}

	h4{
		font-weight: 300;
		text-align: center;
		@media screen and (max-width: 576px){
			text-align: left;
			margin-bottom: 30px;
		}

	}

	h6{
		font-weight: 600;
		margin-bottom: 20px;
	}

	ul{
		list-style: none;
		padding: 0;
		li {
			margin: 0;
			color: #636363;
			margin-bottom: 5px;
			cursor: pointer;
		}
	}

	a{
		text-decoration: none;
		color: #636363;
		&:hover{
			text-decoration: none;
			color: var(--secondary);
		}
	}

	button{
		width: 100%;
		height: 50px;
		background-color: var(--secondary);
		border-radius: 10px;
		border: none;
		color: #fff;
		margin-top: 50px;

		&:hover{
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		}
	}
}

.selected{
	background-color: var(--secondary) !important;
}

.section_calculator{
	background-color: #F3F3F3;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}


.section_calculator_tabs{
	width: 100%;
	display: flex;
	justify-content: center;
}

#weight_form{
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	padding: 50px 30px;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;

	@media screen and (max-width: 375px){
		width: 90%;
		padding: 30px 15px;
	}

	.form__select_wrapper{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		select{
			height: 50px;
			border-radius: 15px;
			padding: 0px 15px;
			&:focus{
				outline: none;
			}
		}
	}

	button{
		margin-top: 10px;
		height: 50px;
		border-radius: 15px;
		background-color: var(--secondary);
		color: #fff;
		border: none;
		font-weight: 600;
		transition: 0.3s;
		&:focus{
			outline: none;
		}
		&:hover{
			background-color: #fff;
			color: #000;
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
		}
	}
}

.calculation_result_form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	position: relative;

	p{
		max-width: 700px;
		width: 85%;
		margin-bottom: 50px;
		@media screen and (max-width: 550px){
			margin-bottom: 10px;
		}
	}

	img{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 10px;
		margin-top: -40px;
		cursor: pointer;
	}

	form{
		width: 100%;
		max-width: 595px;
		input{
			height: 50px;
			margin-bottom: 20px;
			border-radius: 10px;
			border: 1px solid gray;
			padding: 0 15px;
	
			&:focus{
				outline: none;
			}
		}
	
		button{
			margin-top: 30px;
			height: 50px;
			border-radius: 10px;
			border: none;
			background-color: var(--secondary);
			color: #fff;
			transition: all .5s;
			&:hover{
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
			}
		}

		@media screen and (max-width: 550px){
			width: 85%;

		}

	}
}
